html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.container-fluid {
    max-width: -1;
}

a {
    &:hover {
        cursor: pointer;
    }
}

.ui-widget-helper {
    z-index: 100;
}

.toolbar {
    margin-bottom: 10px;
}

.navbar {
    padding-left: 40px;
}

.workspace {
    border: 2px solid #ccc;
    position: relative;
    height: 80%;
    svg {
        background: #eee;
        position: absolute;
        top:0; right: 0; left: 0; bottom: 0;
    }

    &.ui-state-active {
        border: 1px solid black;
    }
    &.ui-state-hover {
        border: 1px solid red;
    }

    &.canvas-drag-mode:not(.ui-state-active) {
        cursor: move;
    }

}

.pointable {
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.grabbable {
    cursor: hand;
}

.hidden {
    display: none;
}

.tray {
    margin-top: 20px;
    td.h1 {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }

    td.h2 {
        font-weight: bold;
        font-size: 1.25em;
    }

    td.background {
        background-color: #f0f0f0;
    }

    .variable-height {
        overflow-y: auto;
    }
}

.resizing.search-query {
    -webkit-transition:width 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out;
    transition:width 300ms ease-in-out;

    width: 50px;
    &:hover, &:focus {
        width: 200px;
    }
}

a.entity-link {

}

/* Parameters */
.parameter-form {
    display: table-row;
    .parameter-name, .parameter-value, .parameter-submit {
        display: table-cell;
        height: 40px;
    }
    .parameter-name {
        padding-right: 20px;
    }
    .parameter-value {
        input, select {
            width: 100%;
        }
        padding-right: 20px;
    }
}

/* Element positioning */
[pane-horizontal=leftpane], [pane-horizontal=rightpane], [pane-horizontal=divider] {
    position: absolute;
    top: 80px;
    bottom: 20px;
}

[pane-horizontal=leftpane] {
    position: absolute;
    overflow-y: scroll;
    width: 300px;
    padding-right: 15px;
    left: 40px;
}

[pane-horizontal=rightpane] {
    left: 380px;
    right: 30px;
}

[pane-horizontal=divider] {

    height: 100%;
    width: 20px;
    left: 360px;
    .draggable {
        display: block;
        position: relative;
        // background: #ccc;
        cursor: ew-resize;
        color: #aaa;
        height: 100%;
        i {
            position: absolute;
            top: 50%;
            left: 8px;
        }
    }
}


[pane-vertical=top], [pane-vertical=bottom], [pane-vertical=divider] {
    position: absolute;
    width: 100%;
    .scrollable {
        overflow-y: scroll;
    }
}

[pane-vertical=top] {
    top: 50px;
    height: 200px;
    overflow-y: scroll;
}

[pane-vertical=bottom] {
    top: 290px;
    bottom: 0px;
}

[pane-vertical=divider] {
    top: 260px;
    height: 20px;
    .draggable {
        display: block;
        position: relative;
        background: #ccc;
        cursor: ns-resize;
        color: #aaa;
        height: 100%;
        .i {
            margin: 0 auto;
            width: 100px;
        }
    }
}


