body {
  padding: 20px 10px;
}

.ui-widget-helper {
    z-index: 100;
}

.workspace {
    border: 1px solid #ccc;
    svg {
        background: #eee;
    }

	&.ui-state-active {
		border: 1px solid black;
	}
	&.ui-state-hover {
		border: 1px solid red;
	}

    &.canvas-drag-mode:not(.ui-state-active) {
        cursor: move;
    }

}

.pointable {
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.grabbable {
    cursor: hand;
}

.hidden {
    display: none;
}

.tray {
    td.h1 {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }

    td.h2 {
        font-weight: bold;
        font-size: 1.25em;
    }

    td.background {
        background-color: #f0f0f0;
    }
}

.resizing.search-query {
    -webkit-transition:width 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out;
    transition:width 300ms ease-in-out;

    width: 50px;
    &:hover, &:focus {
        width: 200px;
    }
}

