body {
  padding: 20px 10px;
}

.workspace {
    border: 1px solid #ccc;
	
	&.ui-state-active {
		border: 1px solid black;
	}
	&.ui-state-hover {
		border: 1px solid red;
	}
}

.pointable {
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

.tray {
    td.h1 {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }
    
    td.h2 {
        font-weight: bold;
        font-size: 1.25em;
    }
    
    td.background {
        background-color: #f0f0f0;
    }
}