<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>NRT Designer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/toastr/toastr.min.css">
        <!-- endbuild -->
</head>
  <body ng-app="nrtWebuiApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid">
        <div class="navbar">
            <div class="container-fluid">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">NRT Designer</a>
              <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">

                  <li class="dropdown" ng-controller="ExportMenuCtrl">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Export <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="" ng-click="exportPython()">Export Python Script</a></li>
                      <li><a href="#">Export Network to JSON</a></li>
                    </ul>
                  </li>

                  <!-- Button trigger modal -->
                  <li>
                    <a data-toggle="modal" href="#preferences-modal">Preferences</a>
                  </li>

                </ul>

                <ul class="nav navbar-nav pull-right">
                  <li class="dropdown" ng-controller="ServersCtrl">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span ng-show="active.name">{{active.name}}</span>
                        <span ng-hide="active.name">Disconnected</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="server in servers">
                            <a ng-click="viewServer(server)">{{server.name}}</a>
                        </li>
                      <li class="divider"></li>
                      <li><a href="#">Quick Connect</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
          </div>

        <div id="main" role="main" class="container-fluid" ng-view="">
        </div>

        <!-- Modal -->
        <div class="modal" id="preferences-modal" ng-controller="PreferencesCtrl">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Designer Preferences</h4>
              </div>

              <div class="modal-body">
                <textarea class="form-control" rows="3" ng-model=""></textarea>
              </div>

              <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/servers.js"></script>
    <script src="scripts/controllers/server.js"></script>
    <script src="scripts/controllers/modules.js"></script>
    <script src="scripts/controllers/connections.js"></script>
    <script src="scripts/controllers/canvas.js"></script>
    <script src="scripts/controllers/alerts.js"></script>
    <script src="scripts/controllers/prototypes.js"></script>
    <script src="scripts/controllers/loaders.js"></script>
    <script src="scripts/controllers/leftpane.js"></script>
    <script src="scripts/controllers/inspect.js"></script>
    <script src="scripts/controllers/workspace.js"></script>
    <script src="scripts/controllers/exportmenu.js"></script>
    <script src="scripts/controllers/preferences.js"></script>

    <script src="scripts/services/server.js"></script>
    <script src="scripts/services/module_manager.js"></script>
    <script src="scripts/services/blackboard_manager.js"></script>
    <script src="scripts/services/connection_manager.js"></script>
    <script src="scripts/services/utilities.js"></script>
    <script src="scripts/services/selection.js"></script>
    <script src="scripts/services/hover.js"></script>
    <script src="scripts/services/alert_registry.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/connector.js"></script>
    <script src="scripts/services/loader_manager.js"></script>
    <script src="scripts/services/federation_summary_parser.js"></script>
    <script src="scripts/services/keyboard_shortcut.js"></script>

    <script src="scripts/directives/tray.js"></script>
    <script src="scripts/directives/raphael.js"></script>
    <script src="scripts/directives/module.js"></script>
    <script src="scripts/directives/connection.js"></script>
    <script src="scripts/directives/port.js"></script>
    <script src="scripts/directives/treeview.js"></script>
    <script src="scripts/directives/prototype.js"></script>
    <script src="scripts/directives/parameter.js"></script>
    <script src="scripts/directives/alert.js"></script>
    <script src="scripts/directives/pane.js"></script>
    <script src="scripts/directives/entity_link.js"></script>
    <script src="scripts/directives/keyboard_shortcuts.js"></script>
    <script src="scripts/directives/startstopbutton.js"></script>

    <script src="scripts/filters/ext2mime.js"></script>
    <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/raphael/raphael.js"></script>
        <script src="scripts/vendor/raphael-zpd.js"></script>
        <script src="bower_components/when/when.js"></script>
        <script src="bower_components/autobahnjs/autobahn/autobahn.js"></script>
        <script src="bower_components/toastr/toastr.js"></script>
        <script src="bower_components/mousetrap/mousetrap.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/FileSaver/FileSaver.min.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <!-- endbuild -->
</body>
</html>
