<div ng-controller="InspectCtrl">


  <!-- Module inspector -->
  <div ng-show="module" ng-controller="ModuleCtrl">

    <h3>{{module.classname}}</h3>
    <h4>({{module.instance}})</h4>

    <p>bbuid: {{module.bbuid}}</p>
    <p>moduid: {{module.moduid}}</p>

    <!-- Parameters -->
    <div class="accordion" id="parameters_accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#parameters_accordion" href="#collapse_parameters">
            Parameters ({{module.parameters.length}})
          </a>
        </div>
        <div id="collapse_parameters" class="accordion-body collapse in">
          <div class="accordion-inner">

            <div style="display:table">
              <parameter ng-repeat="parameter in module.parameters" model="parameter">
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Ports -->
    <div class="accordion" id="ports_accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#ports_accordion" href="#collapse_ports">
            Subscriber Ports ({{module.subscribers.length}})
          </a>
        </div>
        <div id="collapse_ports" class="accordion-body collapse in">
          <div class="accordion-inner" ng-repeat="port in module.subscribers">
            <entity-link type="port" model="port"></entity-link>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="ports_accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#ports_accordion" href="#collapse_ports">
            Poster Ports ({{module.posters.length}})
          </a>
        </div>
        <div id="collapse_ports" class="accordion-body collapse in">
          <div class="accordion-inner" ng-repeat="port in module.posters">
            <entity-link type="port" model="port"></entity-link>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="ports_accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#ports_accordion" href="#collapse_ports">
            Checker Ports ({{module.checkers.length}})
          </a>
        </div>
        <div id="collapse_ports" class="accordion-body collapse in">
          <div class="accordion-inner" ng-repeat="port in module.checkers">
            <entity-link type="port" model="port"></entity-link>
          </div>
        </div>
      </div>
    </div>

    <a ng-click="deleteModule(module)" keyboard-shortcut='["del", "backspace"]' class="btn btn-danger btn-block">Delete Module</a>

  </div> <!-- End module inspector -->

  <!-- Connection Inspector -->
  <div ng-show="connection">
    <h3>Connection</h3>
    <div style="text-align:center">
      <div class="well">
        <p><entity-link type="module" model="connection.from_module"></entity-link></p>
        <p><entity-link type="port" model="connection.from_port"></entity-link></p>
      </div>

      <i class="icon-arrow-down"></i>
      <br> <br>

      <div class="well">
        <p><entity-link type="module" model="connection.to_module"></entity-link></p>
        <p><entity-link type="port" model="connection.to_port"></entity-link></p>
      </div>
    </div>
  </div>
  <!-- End connection inspector -->

  <!-- Port inspector -->
  <div ng-show="port">
    <h3>Port</h3>
    <dl>
      <dt>Portname</dt>
      <dd>{{port.portname}}</dd>
      <dt>Msgtype</dt>
      <dd>{{port.msgtype}}</dd>
      <dt>Return Type</dt>
      <dd>{{port.rettype}}</dd>
      <dt>Description</dt>
      <dd>{{port.description}}</dd>
      <dt>Topic</dt>
      <dd>{{port.topi}}</dd>
      <dt>Module</dt>
      <dd><entity-link type="module" model="port.module"></entity-link></dd>
    </dl>
  </div>
  <!-- End port inspector -->
</div>
