<!-- Modules tree view -->
<div ng-controller="PrototypesCtrl">
  <tray name="Modules">
      <input type="text" class="form-control" placeholder="Search <ctrl+f>" ng-model="search" keyboard-shortcut='["shift+f", "cmd+f", "ctrl+f"]'>
      <hr/>
      <div class="scrollable">
        <tree model="getFilterPrototypes()"> </tree>
      </div>
  </tray>
</div>

<!-- Loaders list -->
<tray name="Loaders">
  <div class="scrollable">
    <ul class="nav nav-pills nav-stacked" ng-controller="LoadersCtrl">
      <li ng-repeat="loader in loaders" ng-class="{active: getSelectedLoader().bbnick == loader.bbnick}">
      <a ng-click="setSelectedLoader(loader.bbnick)">{{loader.bbnick}}</a>
      </li>
    </ul>
  </div>

</tray>
