<!-- Modules tree view -->
<tray name="Modules">
  <div ng-controller="PrototypesCtrl">
    <div> <input type="text" class="search-query" placeholder="Search" ng-model="search"> </div>
    <hr>
    <tree model="getFilterPrototypes()"> </tree>
  </div>
</tray>

<!-- Loaders list -->
<tray name="Loaders">
  <div ng-controller="LoadersCtrl">
    <ul class="nav nav-list">
      <li ng-repeat="loader in loaders" ng-class="{active: $parent.selected_bbnick == loader.bbnick}" >
      <a href="" ng-click="$parent.selected_bbnick = loader.bbnick">{{loader.bbnick}}</a>
      </li>
    </ul>
  </div>
</tray>
