<div class="row-fluid">
    <div class="span8 offset2">
        <div class="hero-unit">
            <h1>NRT Designer</h1>
            <p>Build complex pub/sub systems graphically.</p>
            <form class="form-inline">
                {{view Ember.TextField class="input"
                placeholder="Hostname (127.0.0.1, localhost)"
                valueBinding="view.hostname"}}
                {{view Ember.TextField class="input-small"
                placeholder="Port (8080)"
                valueBinding="view.port"}}
                <input type="submit" {{action setQuickConnect target="view"}} class="btn btn-success" value="Quick Connect">
                </input>
            </form>
        </div>
    </div>
</div>
